html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 27px;
  color: #f7f4f1;
  font-style: normal;
  background-color: $bg-darkgrey;
  font-family: "PT Sans Narrow", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

