@import "variables";
@import "scaffolding";
@import "mixins";
@import "fonts";


/*body {
  background: $bg-darkgrey url("../img/barbershop-index-desktop.jpg") no-repeat center top;
  min-height: 5000px;

  @include media($tablet) {
    background: $bg-darkgrey url("../img/barbershop-index-tablet.jpg") no-repeat center top;
    min-height: 3000px;
  }
  @include media($mobile) {
    background: $bg-darkgrey url("../img/barbershop-index-mobile.jpg") no-repeat center top;
    min-height: 3000px;
  }
}*/

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
/*  min-height: 500px;
  background-color: red;
  opacity: 0.3;*/
}

@include media($tablet) {
  .container {
    width: 85%;
  }
}

  @include media($mobile) {
    .container {
      width: 100%;
    }
  }

  .mainNav {
    background-color: #000;
  }

.mainNav .container{
  display: flex;
  justify-content: space-between;
  
  & a{
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    @include media($mobile) {
      padding-left: 20px;
      border-bottom: 2px solid $darkBrown;
      width: 100%;

      &:hover {
        background-color: $darkBrown;
      }
    }
  }

  @include media($mobile) {
    flex-direction: column;
    background-color: $brown;

  }

}

.mainNav__list {
  display: flex;
  justify-content: space-around;
  width: 78%;
  list-style: none;

  @include media($mobile) {
    flex-direction: column;
    width: 100%;
  }
}

.mainNav__login {
  padding: 0 40px;
  @include media($mobile) {
    padding-left: 0;
    background-color: $darkBrown;

    & a:hover {
      background-color: $brown;
    }
  }
}

.pageLogo {
  min-height: 650px;
  background-color: #fff;
}




